# Object files
*.o
*.ko
*.obj
*.elf
*.yy.c

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
analyser
*.zip
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Unix backup files
*~

# Yacc files
mpaparser
y.tab.c
y.tab.h
y.output

